<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <link rel="icon" href="/images/littledumbbell.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Sarah Workout</title>
    <style>
        span {
            display: block;
        }
    </style>
   
</head>
<body>
<h1>
    <img src="~/images/littledumbbell.png" alt="Dumbbell Icon" width="30" height="30">
    Sarah's Workout Plan and Goals</h1>
<a asp-controller="Home" asp-action="Calculator">Want my services? See pricing here!</a>
<br>
<br>
<img src="~/images/IMG_3957.JPG" height="216" width="280.88"/>
<p>I got into working out about a year and a half ago, but after facing some health challenges, it became really hard to exercise.
I'm now getting back into it. Here's my plan.</p>
<h4>Day 1: Upper Body (Push – Chest, Shoulders, Triceps)</h4>
<span>Barbell Bench Press – 4x5</span>
<span>Overhead Dumbbell Press – 4x6</span>
<span>Tricep pulldown – 3x8</span>
<span>Dumbbell Shoulder Press - 3 sets of 8-10 reps</span>
<span>Lateral Raises – 3x12</span>
<h4>Day 2: Lower Body (Strength & Power)</h4>
<span>Barbell Back Squat – 4x5</span>
<span>Bulgarian Split Squats – 3x8 (each leg)</span>
<span>Seated or Standing Calf Raises – 3x15</span>
<h4>Day 3: Upper Body (Pull – Back & Biceps)</h4>
<span>Weighted Pull-Ups or Lat Pulldown – 4x6-8</span>
<span>Barbell or Dumbbell Rows – 4x8</span>
<span>Hammer Curls or Barbell Curls – 3x10</span>
<span>Face Pulls – 3x12</span>
<h4>Day 4: Lower Body (Glutes, Hamstrings, & Core)</h4>
<img src="~/images/GYM.jpeg" height="162" width="243"/>
<span>Romanian Deadlifts – 4x6</span>
<span>Hip Thrusts – 3x10</span>
<span>Lying or Seated Hamstring Curls – 3x12</span>
<span>Hanging Leg Raises or Cable Crunches – 3x12</span>
<h4>Day 5: Full-Body Functional & Conditioning</h4>
<span>Front Squats or Goblet Squats – 4x8</span>
<span>Jumping lunges/Kettlebell swings– 3x10</span>
<span>Farmer’s Carry – 3x30 sec</span>
<span>Planks, Hanging Leg Raises, or Russian Twists – 3x30 secs</span>
<p>I've been working out more regularly again and it feels amazing. I'm grateful to have a healthy body!</p>
<br>
<a asp-controller="Home" asp-action="Calculator">Want my services? See pricing here!</a>

</body>
<footer>
    <p>&copy; 2025 Sarah Durham. All rights reserved.</p>
    <p>Built by Sarah</p>
</footer>

</html>